# Turn TV on at 7:30 am
# 30  7 * * 1-5 echo on 0 | /opt/libcec/bin/cec-client -s -d 1
*/2 * * * 1-5 echo on 0 | /opt/libcec/bin/cec-client -s -d 1
# Turn TV off at 6:00 pm
# 0  18 * * 1-5 echo standby 0 | /opt/libcec/bin/cec-client -s -d 1
1-59/2 * * * 1-5 echo standby 0 | /opt/libcec/bin/cec-client -s -d 1
# An empty line is required at the end of this file for a valid cron file.