# Turn TV on at 7:30 am
30  7 * * 1-5 echo on 0 | /opt/libcec/bin/cec-client -s -d 1 >> /dev/null 2>&1
# Turn TV off at 5:30 pm
30  17 * * 1-5 echo standby 0 | /opt/libcec/bin/cec-client -s -d 1 >> /dev/null 2>&1
# Check TV power every 10 Min
1/10 * * * * echo pow 0 | /opt/libcec/bin/cec-client -s -d 1
# An empty line is required at the end of this file for a valid cron file.
